*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(248, 247, 203);
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

table{
    width: 80%;
    padding: 10px;
    border:1px solid black;
    text-align: center;
}
tr,th,td{
    border:1px solid black
}

tr:hover{
    background-color: coral;
}

a{
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
    border-radius: 4px;
    transition: background-color 0.3s ease;
    margin: 0;
    vertical-align: middle;
}

a:hover {
    background-color: #45a049;
}

a:active {
    background-color: #388e3c;
}

input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
    color: #333;
}

/* Submit Button */
input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    border: none;
    transition: background-color 0.3s ease;
}
